1 VERSIONINFO
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "ProductName", "veesem"
      VALUE "ProductVersion", "0.2"
      VALUE "Comments", "V.Smile emulator"
      VALUE "LegalCopyright", "(C) 2025-2026 Simon Eriksson"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END

1 ICON "veesem.ico"
